#custom {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  opacity: .90;
  
  
}

#custom td,
#custom th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

#custom tr:hover {
  background-color: rgb(255, 238, 0);
  transform: scale(1.01);
  
  
}

#custom th:hover{
  background-color: rgb(255, 238, 0);
  color: black;
}

#custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #30d42a;
  color: white;
  
}
.boton{

  background-color: #30d42a;


}
.contenedor{
background-color: #30d42a;
opacity: .90;
border: 5px solid white;
border-radius: 5px;
}

.blanco{
color: #f2f2f2;
font-weight: bold;
}

.jump{
  margin-top: 15%;
}

input[type="text"]{

  width: 80%;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;

}

input[type="text"]::placeholder{

  text-align: center;
  font-weight: bold;
  color: darkgray;
}

input[type="datetime"]{
  width: 80%;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;  
  font-weight: bold;

}

input[type="datetime"]::placeholder{

  text-align: center;
  font-weight: bold;
  color: darkgray;
}