#custom {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  opacity: .90;
  
  
}

#custom td,
#custom th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

#custom tr:hover {
  background-color: rgb(255, 238, 0);
  font-weight: bold;
}

#custom th:hover{
  background-color: rgb(255, 238, 0);
  color: black;
}

#custom th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #30d42a;
  color: white;
  
}
.boton{

  background-color: #30d42a;


}
.contenedor{
background-color: #30d42a;
opacity: 30%; 
border: 1px solid white;
}

.blanco{
color: #f2f2f2;
font-weight: bold;
}

.jump{
  margin-top: 20%;
}

input[type="text"]{

  width: 100%;
  align-content: center;


}
/* se arma una string se manda en post con axios al servidor de base con una funcion del active jdbc. hay que fijarse en el ejemplo de los libros , usar comando safe que graba. Francisco lo hizo con un json, marduck con un string